
<h1>Categories</h1>
<section class="section-1">
  <% if @groups.count > 0 %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col" class="col-three">Icon</th>
          <th scope="col">Amount Spent</th>
        </tr>
      </thead>
      <% @groups.each_with_index do |group, i| %>
          <tbody>
            <tr>
              <th scope="row"><%= group.id %></th>
              <td class="name"><a href="/groups/<%= group.id %>/accounts"><%= group.name %></a></td>
              <% if group.icon.attached? %>
              <td><%= image_tag(group.icon, style: "width: 200px") %></td>
              <% end %>
              <td>Spent: $<b><%= group.accounts.sum(:amount) %></b></td>
            </tr>
          </tbody>
      <% end %>
    </table>
  </div>
    <% else %>
    <h2>No category</h2>
  <% end %>
  <button class="btnLink"><%= link_to "Add Category", new_group_path%></button>
</section>