<%= render 'layouts/nav', title: 'Accounts'%>
<section class="section-1">
  <%= link_to '< Back', groups_path, class: "btn btn-primary" %>
  <h2 class="amount">Total Amount: $<%= @accounts_sum %></h2>
  <% if @accounts.count > 0 %>
    <div class="container">
      <% @accounts.each do |account| %>
        <div class="row category">
          <div class="col fs-5">
            <p class="text-center"><%= account.name%></p>
          </div>
          <div class="col fs-5">
            <p class="text-center">$<%= account.amount%></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h2>No amount</h2>
  <% end %>
  <button class="btnLink w-100 mt-4 py-1 fs-5"><%= link_to "Add Transaction", new_group_account_path %></button>
</section>
